html body{
    background-color: #add8e6;
    margin: 0;
    padding: 0;
}

.title-container{
    display: flex;
    position: relative;
    margin-top: -20em;
}

h1{
    font-family: Monaco, Lucida Console, Garamond;
}

.setting-title-box{
    display: flex;
    justify-content: left;
}

.setting-title-box p {
    font-weight: 10px;
}

.diff-btn-container{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.theme-btn-container{
    display: flex;
    gap: 5px;
}

#star-pic{
    width: 20px;
    height: 20px;
    display: flex;
    object-fit: contain;
}

#choco-pic{
    width: 30px;
    height: 30px;
    display: flex;
    object-fit: contain;
}

#plant-pic{
    width: 30px;
    height: 30px;
    display: flex;
    object-fit: contain;
}

.plant-theme{
    display: flex;
    justify-content: center;
}

.food-theme{
    display: flex;
    justify-content: center;
}

.starcard{
    display: flex;
    justify-content: center;
}

.btn-diff{
    border-radius: 10px;
}

#easy{
    background-color: green;
    border-color: rgb(29, 86, 29);
    border-width: 2px;
}

#medium{
    background-color: rgb(255, 119, 0);
    border-color: rgb(171, 90, 20);
    border-width: 2px;
}

#hard{
    background-color: red;
    border-color: rgb(134, 25, 25);
    border-width: 2px;
}


.btn-theme{
    border-radius: 10px;
    width: 50%;
}

#space{
    background-color: #3f5277;
    border-color: #27344d;
    border-width: 2px;
}

#food{
    background-color: #FF8DA1;
    border-color: #8d4855;
    border-width: 2px;
}

#plants{
    background-color: #495e35;
    border-color: #354626;
    border-width: 2px;
}

#restart-btn{
    border-width: 2px;
    border-radius: 4px;
    background-color: #54b0cf;
    border-color: #336d80;
}

.restart-container{
    position: relative;
    top: 10px;
}



